<h1>Welcome to the Car Simulator</h1>

<form action="/cars/create" method="get">
  <label>Make: </label>
  <input type="text" name="make">
  <label>Model: </label>
  <input type="text" name="model">
  <label>Year: </label>
  <input type="number" name="year">
  <label>Color: </label>
  <input type="color" name="color">
  <input type="submit" name="Simulate Car" value="Simulate Car">
</form>
<br>
